{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "semi": ["off", "always"],
        "quotes": ["off", "single"],
        "no-unused-vars":"off"
    },
    "ignorePatterns":["/dist"]
}