

$color-primary: rgb(180, 212, 240);

$color-font-primary: rgb(12, 33, 193);
$color-gradient-main: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);

$width-container: 1200px;


$border-radius-20: 20px;
$border-radius-50: 50%;