@import "../../GlobalStyles/variables.scss";
@import "../../GlobalStyles/mixins";
.header {
    padding: 10px 0;
    position: sticky;
    display: flex;
    align-items: center;
    background-color: $color-primary ;
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $width-container;
        width: 100%;
        .nav__profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            max-width: 80px;
            width: 100%;
            &__photo {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 50px;
                height: 50px;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
                &::before {
                    @include gradient-before($color-gradient-main)

                }
            }
            button {
                padding: 4px;
            }
        }
    }
}